.cenzor {
    width: 400px;
    margin: 100px auto;
    padding: 10px;
    background-color: rgb(236, 232, 238);
    border-radius: 10px;
    box-shadow: 3px 3px 5px black;

    .word-list {
        color: red;
        // display: inline-block;
    }

    form {
        margin-top: 5px;

        .word-input {
            display: flex;
            align-items: center;

            input[type='text'] {
                width: 100%;
                padding: 5px;
                border-radius: 5px;
                outline: none;
                border: none;
                margin-right: 5px;
            }

            input[type='button'] {
                margin: 0 5px;
                width: 70px;
                padding: 5px;
                border: none;
                border-radius: 5px;
                cursor: pointer;
                color: white;
            }

            input[value='Add'] {
                background-color: hsl(50, 70%, 50%);
            }
            
            input[value='Add']:hover {
                background-color: hsl(50, 60%, 50%);
            }
            
            input[value='Reset'] {
                background-color: hsl(10, 70%, 50%);
            }
            
            input[value='Reset']:hover {
                background-color: hsl(10, 60%, 50%);
            }
        }

        textarea {
            width: 100%;
            padding: 5px;
            border-radius: 5px;
            outline: none;
            border: none;
            resize: none;
            height: 100px;
            margin-top: 10px;
        }

        input[value='Cenzor'] {
            width: 100%;
            padding: 7px 0;
            margin-top: 5px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            color:white;
            background-color: hsl(120, 60%, 50%);
        }
        
        input[value='Cenzor']:hover {
            background-color: hsl(120, 50%, 50%);
        }
    }
}